<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>
    <meta name="description" content="Backend engineer working with distributed systems and observability.">
    <script>
        if (localStorage.getItem('theme') !== 'light') {
            document.documentElement.classList.add('dark');
        }
    </script>
</head>

<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src='{{ "js/theme.js" | relURL }}'></script>
</body>

</html>